*{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif;
}
h1, h2, h3, h4, p{
    font-family: Helvetica, sans-serif;

}
body{
    background-size: cover;
    background-position: center center;
    background-color: $blanco;
    width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: $blanco;

}
ul{
    list-style: none;

}