$amarillo: #D4A847;
$blanco: #F4F3DF;
$negro: #282828;

@import "menu","generales";



.secciones {
    & a:hover{
    border-bottom: 3px solid $amarillo;
    padding-bottom: 4px;
    color: $blanco;
}
}

.logo{
width: 125px;
margin: 20px;
margin-left: 5vw;

}
.indicador{
    border-bottom: 3px solid  $blanco;
    padding-bottom: 4px;
}

.entradaHome{
    display: flex;
    align-content: center;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    left: -110px;

}
.imagenEntrada{
    width: 800px;
    height: 500px;
    text-align: center;

    & img{
        width: 400px;
        margin: 20px;
    }
}
.textoEntrada{
    width: 40vw;
    height: 500px;
    padding: 30px;
    overflow: hidden;
    position: relative;
    left: -100px;
    
    & h1{
        font-size: 3.6em;
        font-weight: 700;
        text-align: right;
        margin-top: 50px;
    }

    & span{
        color: $amarillo;
    }
    
    & p {
        color: $negro;
        margin-top: 30px;
        font-size: 20px;
    }
}

.conceptoCoco{
    background-color: $negro;
    height: 800px;
    overflow: hidden;
    
}
.textoConcepto{
    display: flex;
    align-items: center;
    color: $blanco;
    width: 100vw;

    & h2 {
        font-size: 60px;
        font-weight: 700;
        margin: 30px;
        width: 90vw;
        padding-left: 10%;
    }
    & span{
        color: $amarillo;
    }
    & p {
        font-size: 20px;
        padding-right: 160px;  
    }
}
.imagenesCoco{
    text-align: center;
    overflow: hidden;
    display: block;


    & img{
        width: 330px;
        margin: 30px;
    }
}
.cocoSiNosAma{
    width: 100vw;
    display: flex;
}
.amorCocoTexto{
    margin: 50px 80px 20px 140px;

    & h3{
        font-size: 60px;
        color: $negro;
        font-weight: 700;
    }

    & span{
        color: $amarillo;
    }
    & p{
        font-size: 20px;
        color: $negro;
        margin: 20px 100px 20px 0px;
    }
}
.amorCocoImagen { 
    & img{
        width: 350px;
        margin: 20px 100px 20px 20px;

    }
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
    margin: auto;
}
.carousel-control-next, .carousel-control-prev{
    top: -500px;
}

    .verMas{
        margin-top: 20px;
        border-radius: 30px;
        line-height: 5px;
        background-color: $amarillo;
        color: $negro;
        border: 0px;
        font-weight: 700;
        font-size: 15px;
        width: 20vw;
        height: 3vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    
        & span{
            color: $negro;
            display: inline-block;
            z-index: 2;
            transition: .5s ease-in-out;
            letter-spacing: .2em;
    }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            line-height: 5px;
            background: $negro;
            transform: scaleX(0);
            transition: transform .5s ease-in-out;
            transform-origin: right;
        }
        &:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }
        &:hover span{
            color: $blanco;
        }
}
footer{
    width: 100vw;
    height: 100px;
    background-color: $negro;
    color: #0f0f0f6b;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    & h4{
        padding-top: 10px;
        padding-right: 20px;
        font-weight: 400;
        font-size: 1.5em;
    }
    & h4::before{
        content: attr(data-text);
        position: absolute;
        color: $blanco;
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 4px solid $blanco;
        animation: animate 5s linear infinite;
        filter: drop-shadow(0 0 5px #66665f) drop-shadow(0 0 10px #a5a59b);
    }
}
@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 300px;
    }
    
}
.titulosDeSeccion{
    font-size: 60px;
    color: $negro;
    margin: 50px 20px 20px 16vw;
    font-weight: 700;
    & span{
        color: $amarillo;
    }
}
.galeria{
    width: 65vw;
    height: 1100px;
    margin: auto;
    margin-bottom: 40px;
    background-color: $negro;
    flex-wrap: nowrap;
}

.tarjeta{
    /*width: 900px;*/
    height: 250px;
    margin: 30px 30px 30px 90px;
    position: absolute;
    left: 0vh;

    & h4{
        font-size: 50px;
        color: $blanco;
        font-weight: 700;
    }
    & p{
        color: $blanco;
        font-size: 1.5vw;

    }
    &  h4 span {
        color: $amarillo;
    }
    & img{
        width: 90%;
    }
}
.tarjetaTexto{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
}
.tarjetaDerecha {

    top: 640px;
    left: 17vw;
    
}

.tarjetaUltima{
    top: 980px;
}
.seccionHistoria{
    width: 100vw;
    height: 600px;
    display: flex;
    margin: auto;
    margin-bottom: 70px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

}
.tituloHistoriaDeCoco {
    width: 40vw;
    margin: 0;

}
.Historia {
    margin-left: 10px;
}
.imagenHistoria{
    width: 40vw;

    & img {
        width: 60%;
        margin: 50px 50px;
    }
}
.historiaPalma {
    background-color: $negro;
    display: flex;
    height: 500px;
    margin: auto;
    margin-top: -150px;
    width: 100vw;

    & .historiaPalmaTexto{
        width: 50vw;
        
        & p{
            margin: 20px 30px 30px 210px;
            color: $blanco;
            width: 450px;
        }
    }
    & .imagenPalma {
        width: 50vw;
        & img {
            width: 380px;
            margin-left: 50px;
        }
    }
}

.seccionOscura{
    color: $blanco;
}


.botonPalma{
    margin-left: 210px;
    margin-top: 10px;
    color: $negro;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        line-height: 5px;
        background: $negro;
        transform: scaleX(0);
        transition: transform .5s ease-in-out;
        transform-origin: right;
        color: $negro;
    }
    & span{
        color: $negro;
    }
    &:hover span{
        color: $amarillo;
    }
}
.botonGaleria{
        margin-left: 0px;
    }


.tarjetaDeEquipo{
    display: flex;
    background-color: $negro;
    margin: auto;
    width: 920px;
    height: 250px;
    margin-bottom: 30px;

    & img{
        width: 200px;
        height: 200px;
        margin: 30px 40px;
    }
}
.textosEquipo{
    & h3{
        font-size: 45px;
        margin: 40px 20px 10px 20px;
        color: $amarillo;
    }
    & span{
        color: $amarillo;
    }
    & p{
        margin: 20px 30px;
        color: $blanco;
    }
}

.tarjetaEqupoDerecha{
    background-color: lightgray;
    color: $negro;
}
.equipoImagenDerecha {

    & img{
        margin: 30px 40px;
        opacity: 1;
    }

    & p{
        margin: 20px;
        color: $negro;

    }

    & h3{
        margin: 20px;
    }
}
.contacto{
    display: flex;
}
.infoContacto{
    width: 40vw;
    height: 350px;
    margin: 10px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex: inherit;

    & input{
        width: 450px;
        padding: 10px;
        border: 0px;
        border-bottom: 4px solid $negro;
        margin: 5px 0px 30px 0px;
        background-color: lightgray;
    }
}
.mensaje{
    height: 100px;
    padding: 0px;
}
.mapa{
    width: 40vw;
    height: 400px;
    background-color: $amarillo;
    margin-bottom: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

    & p{
       margin: auto;
    }
}
#botonEnviar {
    padding: 20px;
    border: 0px;
    background-color: $amarillo;
}
#botonEnviar:hover{
    background-color: $negro;
    color: #F4F3DF;
}

img:hover{
    animation: giro 5s;

}
@keyframes giro{

    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(20deg);
    }
    30% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* medias query para laptop pequeña*/
@media screen and (max-width: 1024px){
    .entradaHome{
        height: 450px;
        left: 0;
    }
    .textoEntrada {
        width: 50vw;
        & h1 {
            font-size: 50px;
        }
        & p { 
            font-size: 18px;
        }
    }
    .imagenEntrada {
    & img {
        width: 50%;
        }
    }
    .textoConcepto{
        & h2{
            font-size: 50px; 
        }
        & p {
            font-size: 18px;
            padding-right: 30px;
        }
    }
    .d-block{
        display: block;
    }
    #Tablet {
        display: none;
    }
    .carousel-item-next, .carousel-item-prev, .carousel-item.active {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        justify-content: space-around;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .amorCocoTexto {
        & h3{
            font-size: 50px;
        }
        & p {
            font-size: 18px;
            margin-right: 0px;
        }
    }
    .historiaPalma {

        & .titulosDeSeccion{
            margin: 50px 20px 20px 50px;
        }
        & .historiaPalmaTexto{
            & p{
                margin: 20px 30px 30px 50px;
            }
        }
        .botonPalma {
            margin-left: 50px;
        }
    }
    .Sobrevalorada{
        margin-left: 50px;
    }
    .contacto{
        height: 800px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        & .mapa{
            width: 100vw;
        }

    }

}
/* medias query para tablet*/
@media screen and (max-width: 990px){

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        overflow: hidden;
        & .logo {
            margin-left: -100px;
        }
    }
    .entradaHome{
        height: 450px;
        left: 0;
    }
    .w-15{
        width: 80%;
        margin: auto;
    }
    .imagenCarrusel{
        width: 40%;
    }
    .textoEntrada {
        width: 80vw;
        left: -50px;
        & h1 {
            font-size: 40px;
        }
        & p { 
            font-size: 18px;
        }
    }
    .verMas {
        width: 40vw;
        height: 6vw;
    }
    .imagenEntrada {
    & img {
        width: 70%;
        position: relative;
        left: 0px;
        top: 30px;
        }
    }
    .conceptoCoco{
        height: 640px;
    }
    .textoConcepto{
        & h2{
            font-size: 40px;
            padding-left: 30px;
        }
        & p {
            padding-right: 30px;
        }
    }
    .carousel-item-next, .carousel-item-prev, .carousel-item.active {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        justify-content: space-around;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .amorCocoTexto {
        margin: 20px 30px 20px 20px;
        & img {
            width: 30vw;
            margin: 20px;
        }
        & h3{
            font-size: 40px;
        }
        & p {
            font-size: 18px;
            margin-right: 0px;
        }
    }
    .botonGaleria {
        width: 25vw;
        height: 4vw;
    
    }
    .galeria{
    height: 850px;
    & .tarjetaDerecha{
        top: 560px;
        }
    & .tarjetaUltima{
        top: 830px;
        }
    }
    .seccionHistoria{
        height: 700px;
        & .imagenHistoria{
            margin-top: 15vw;
            & img {
                width: 100%;
                margin: 0%;
            }
        }
        & .tituloHistoriaDeCoco{
            margin-left: 50px;
        }
    }
    .historiaPalma{
        height: 550px;
        & .historiaPalmaTexto{
            & p{
                width: 350px;
            }
        }
        & .imagenPalma{
            & img {
                margin-left: 0;
                width: 350px;
            }
        }
    }
    .Sobrevalorada{
        text-align: center;
    }
}
/* medias query para mobile*/
@media screen and (max-width: 510px){

    
    .entradaHome{
        flex-wrap: wrap;
        height: 650px;
    }
    .textoEntrada {
        width: 100vw;
        height: 70%;
        left: 0px;
        text-align: center;
        
        & h1 {
            font-size: 40px;
            text-align: center;
        }
        & p { 
            font-size: 18px;
        }
    }
    .verMas {
        width: 70vw;
        height: 9vw;
        margin: auto;
    }
    .imagenEntrada {
        width: 100vw;
        height: 150px;
    & img {
        width: 40%;
        top: 0px;
        }
    }
    .conceptoCoco{
        height: 670px;
    }
    .textoConcepto{
        flex-wrap: wrap;
        & h2{
            text-align: center;
            padding: 0;
        }
        & p {
            padding: 30px;
            text-align: center;
            padding-top: 0px;
        }
    }
    #Mobile {
        display: none;
    }
    .w-15{
        width: 55%;
    }
    .amorCocoTexto {
        margin: 20px 30px 20px 20px;
        text-align: center;
        & img {
            width: 30vw;
            margin: 20px;
        }
        & h3{
            font-size: 50px;
        }
        & p {
            font-size: 18px;
            margin-right: 0px;
            padding: 0px 20px;
        }
    }
    .amorCocoImagen{
        display: none;
    }
    .titulosDeSeccion {
        margin: auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .galeria {
        width: 100vw;
        margin: auto;
        height: 1830px;
        border-bottom: 30px solid $blanco;

        & .tarjeta{
            margin: 30px 30px 30px 12%;
            & .tarjetaTexto {
                margin-left: 0;
                margin-top: 20px;
                text-align: center;
                align-items: center;
                margin-right: 30px;
                & .tituloTarjeta{
                    text-align: center;
                }
            
                & p{
                    font-size: 18px;
                }
            }
        }
        & .tarjetaDerecha {
            top: 1150px;
            left: 0px;
            & img {
                position: absolute;
                top: -300px;
            }
        }
        & .tarjetaUltima{
                top: 1450px;
                left: 0%;
            
        }

    }
    .seccionHistoria{
        height: 900px;
        & .imagenHistoria{
            width: 100vw;
            text-align: center;
            & img {
                width: 50%;
                text-align: center;
            }
        }
        & .tituloHistoriaDeCoco{
            width: 80vw;
            margin: 0;
            text-align: center;

        }
    }
    .historiaPalma {
        & .imagenPalma{
            display: none;
        } 
        & .historiaPalmaTexto{
            width: 100vh;
            margin: 0px;
            text-align: center;
            & p{
                margin: auto;
            }
        }
        & .titulosDeSeccion{
            margin: 0%;
            margin-top: 50px;
        }
        & .botonPalma{
            margin: auto;
            margin-top: 20px;
        }
        

    }
    .Sobrevalorada{
        font-size: 40px;

    }
    .tarjetaDeEquipo{
        width: 100vw;
        height: 500px;
        & .textosEquipo{
            & h3{
                margin: 0;
            }
        }

    }
    .col {
        flex: auto;
        align-items: center;
    }
    .row {
        justify-content: center;
        align-content: center;
    }
    .tarjetaEqupoDerecha{
        & .row {
            flex-direction: column-reverse;
            justify-content: center;
            
            & img {
                margin: auto;
                margin-top: 15vw;
            }
        }
    }
    .titulocontacto{
        & span{
            font-size: 12vw;
        }
    }
    .contacto{
        & input {
            width: 100vw;
        }
    }
}